In [14]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import missingno as msno

In [15]:
df = pd.read_csv('data_strube/openweather_droppedcolumns_2021.csv')

In [16]:
df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,dew_point,feels_like,temp_min,...,clouds_all,weather_id,weather_main,weather_description,weather_icon,date,year,month,day,plotting_date
0,1609459200,2021-01-01 00:00:00 +0000 UTC,3600,Anklam,53.940211,13.600744,1.66,0.35,-0.92,1.48,...,100,804,Clouds,overcast clouds,04n,2021-01-01 00:00:00,2021,1,1,1
1,1609462800,2021-01-01 01:00:00 +0000 UTC,3600,Anklam,53.940211,13.600744,1.74,0.58,-0.69,0.99,...,100,804,Clouds,overcast clouds,04n,2021-01-01 01:00:00,2021,1,1,1
2,1609466400,2021-01-01 02:00:00 +0000 UTC,3600,Anklam,53.940211,13.600744,1.42,0.56,-1.29,0.78,...,99,804,Clouds,overcast clouds,04n,2021-01-01 02:00:00,2021,1,1,1
3,1609470000,2021-01-01 03:00:00 +0000 UTC,3600,Anklam,53.940211,13.600744,1.15,0.58,-1.54,0.44,...,100,804,Clouds,overcast clouds,04n,2021-01-01 03:00:00,2021,1,1,1
4,1609473600,2021-01-01 04:00:00 +0000 UTC,3600,Anklam,53.940211,13.600744,0.95,0.53,-1.40,0.68,...,98,804,Clouds,overcast clouds,04n,2021-01-01 04:00:00,2021,1,1,1

In [17]:
df.columns

Index(['dt', 'dt_iso', 'timezone', 'city_name', 'lat', 'lon', 'temp',
       'dew_point', 'feels_like', 'temp_min', 'temp_max', 'pressure',
       'humidity', 'wind_speed', 'wind_deg', 'clouds_all', 'weather_id',
       'weather_main', 'weather_description', 'weather_icon', 'date', 'year',
       'month', 'day', 'plotting_date'],
      dtype='object')

In [18]:
# simplify weatherdata for now
df.drop(['dt', 'dt_iso', 'timezone','feels_like', 'clouds_all', 'weather_id',
       'weather_main', 'weather_description', 'weather_icon'], 
                         axis=1, 
                         inplace=True
                         )

In [19]:
df.columns

Index(['city_name', 'lat', 'lon', 'temp', 'dew_point', 'temp_min', 'temp_max',
       'pressure', 'humidity', 'wind_speed', 'wind_deg', 'date', 'year',
       'month', 'day', 'plotting_date'],
      dtype='object')

In [20]:
df.rename(columns={'city_name': 'station_location'}, inplace=True)
#remove the numbers from the fieldid

In [21]:
df['station_location'] = df['station_location'].replace(r'VierhÃƒÂ¶fen', r'Vierhoefen', regex=True)

In [29]:
df_grouped = df.groupby(['station_location', 'month'], as_index=False).mean()
df_grouped

,station_location,month,lat,lon,temp,dew_point,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,year,day,plotting_date
0,Anklam,1,53.940211,13.600744,1.086290,-0.216976,0.563817,1.563911,1009.005376,90.920699,3.422056,214.888441,2021.0,16.0,16.0
1,Anklam,2,53.940211,13.600744,0.793199,-1.678765,-0.308304,1.603988,1020.724702,83.425595,3.517753,189.757440,2021.0,14.5,45.5
2,Anklam,3,53.940211,13.600744,4.675874,1.287634,3.779825,5.276411,1018.537634,79.633065,3.616411,230.000000,2021.0,16.0,75.0
3,Anklam,4,53.940211,13.600744,5.893292,1.361167,5.066958,6.614986,1016.927778,74.056944,3.824083,207.911111,2021.0,15.5,105.5
4,Anklam,5,53.940211,13.600744,11.360444,7.320282,10.691761,11.957876,1009.883065,77.759409,3.596142,215.959677,2021.0,16.0,136.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Vierhoefen,8,48.747079,12.711756,17.752151,13.968253,16.678065,18.680417,1016.512097,80.213710,2.426142,227.404570,2021.0,16.0,228.0
188,Vierhoefen,9,48.747079,12.711756,16.405639,12.069431,15.114875,17.268542,1019.751389,76.959722,2.179625,188.059722,2021.0,15.5,258.5
189,Vierhoefen,10,48.747079,12.711756,9.336882,6.270269,7.922366,10.860699,1021.081989,81.904570,2.438306,190.506720,2021.0,16.0,289.0
190,Vierhoefen,11,48.747079,12.711756,3.840597,2.429000,2.791125,5.176583,1017.834722,90.768056,2.480667,202.330556,2021.0,15.5,319.5
191,Vierhoefen,12,48.747079,12.711756,1.751277,0.964785,0.695215,3.635296,1017.473118,94.306452,3.116075,222.688172,2021.0,16.0,350.0

In [30]:
# drop day columns and remove duplicate rows
df_grouped.drop_duplicates(keep='first', inplace=True)
df_grouped.shape

(192, 15)

In [31]:
df_grouped.reset_index()

,index,station_location,month,lat,lon,temp,dew_point,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,year,day,plotting_date
0,0,Anklam,1,53.940211,13.600744,1.086290,-0.216976,0.563817,1.563911,1009.005376,90.920699,3.422056,214.888441,2021.0,16.0,16.0
1,1,Anklam,2,53.940211,13.600744,0.793199,-1.678765,-0.308304,1.603988,1020.724702,83.425595,3.517753,189.757440,2021.0,14.5,45.5
2,2,Anklam,3,53.940211,13.600744,4.675874,1.287634,3.779825,5.276411,1018.537634,79.633065,3.616411,230.000000,2021.0,16.0,75.0
3,3,Anklam,4,53.940211,13.600744,5.893292,1.361167,5.066958,6.614986,1016.927778,74.056944,3.824083,207.911111,2021.0,15.5,105.5
4,4,Anklam,5,53.940211,13.600744,11.360444,7.320282,10.691761,11.957876,1009.883065,77.759409,3.596142,215.959677,2021.0,16.0,136.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,187,Vierhoefen,8,48.747079,12.711756,17.752151,13.968253,16.678065,18.680417,1016.512097,80.213710,2.426142,227.404570,2021.0,16.0,228.0
188,188,Vierhoefen,9,48.747079,12.711756,16.405639,12.069431,15.114875,17.268542,1019.751389,76.959722,2.179625,188.059722,2021.0,15.5,258.5
189,189,Vierhoefen,10,48.747079,12.711756,9.336882,6.270269,7.922366,10.860699,1021.081989,81.904570,2.438306,190.506720,2021.0,16.0,289.0
190,190,Vierhoefen,11,48.747079,12.711756,3.840597,2.429000,2.791125,5.176583,1017.834722,90.768056,2.480667,202.330556,2021.0,15.5,319.5
191,191,Vierhoefen,12,48.747079,12.711756,1.751277,0.964785,0.695215,3.635296,1017.473118,94.306452,3.116075,222.688172,2021.0,16.0,350.0

In [32]:
df_grouped.columns

Index(['station_location', 'month', 'lat', 'lon', 'temp', 'dew_point',
       'temp_min', 'temp_max', 'pressure', 'humidity', 'wind_speed',
       'wind_deg', 'year', 'day', 'plotting_date'],
      dtype='object')

In [33]:
# PICKLE RICK
df_grouped.to_pickle('data_strube/pickles/df_openweather_monthly.pkl')